@charset "utf-8";

/* body , footer */

body{
  background:#F4F5F7;
}
footer {
  margin-top: 40px;
}

/* navbar */

.navbar {
  background-color:#676765;
  border:none;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
border:none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color:#FA445F;
background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
color: white;
background-color:#a03b3b;
}
.dropdown-menu {
background-color:#a03b3b;
border:none;
-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
color:white;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
color:#660066;
background:#a03b3b;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}
.search{
  float:right;
  margin-top:23px;
  margin-right:10px;
}

/* cover */

.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  background: url("/images/home2.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  margin:200px ;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  padding :0;
  color:white;
  font-weight: normal;
  letter-spacing: 0.15em;
}
.title-index{
  color:black;
}
.setumei{
  color:white;
}

/* btn */
.btn-start{
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid black;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background:#ffe94b;
}
.btn-start:hover {
  background:none;
  border-color:white;
  color:#eee3f5;
}
.btn-start:focus{
  border:2px dotted white;
  background:none;
}

.btn-login{
  background:none;
  border:1px double skyblue;
  color:skyblue;
}
.btn-login:hover,
.btn-login:focus{
  background:skyblue;
  border:1px solid skyblue;
  color:white;
}
.btn-signup{
  
}
.book-new{
  
}
.requests{
  display:block;
  height:35px;
}
.want{
  margin-top: 15px;
  background:#ff9d9d;
  border:2px solid #a22828;
  color:white;
}
.want:hover{
  background:#ff9d9d;
  border:2px double #670c21;
  color:white;
}
.want , .want:active{
  background:#ff9d9d;
  border:2px double #670c21;
  color:white;
  outline: 0;
}
.unwant{
  margin-top: 15px;
  margin-bottom: 15px;
}
.check{
  margin-top:15px;
}

/* book */

.book .panel-body {
  height: 70px;
}
.book .panel-heading {
  height: 250px;
}
.book .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.book-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.book_title{
  color:black;
}
.book-box{
  text-align:center;
  color:black;
  border-top: dotted 3px #b75a6e;
  border-bottom: dotted 3px #b75a6e;
  margin-bottom:10px;
}
.book-expalin{
  font-size:13px;
  background:white;
  border:1px solid #58c0e8;
  border-radius:5px;
}

.decide{
  float:right;
}

/* users#show */

.exhibitors{
  font-size:2.5em;
  color: #213e07;
  background:none;
  text-align: center;
  margin-bottom: 30px;
  margin-top:30px;
  border-radius:5px;
  border:2px double #c3586b;
}

.wrapper{
  width:80%;
  margin:0 auto ;
}

/* form */
.col-xs-3{
  float:right;
  
}
#book_search.book_search{
  margin-right:15px;
  white-space: nowrap;
}